.container {
  background-image: url('/assets/corp_1.jpg') ; /* Ruta a tu imagen */
  background-size: center;      /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: auto;               /* Ocupa toda la altura de la pantalla */
  display: center;
  justify-content: auto;
  align-items: center;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}	

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}

input {
  margin: 0.5em 0;
  padding: 0.4em;
  width: 100%;
}

button {
  padding: 0.5em 1em;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
}

