<nav class="bg-gradient-to-r from-white-600 to-blue-800 text-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <img src="assets/oficial.jpg" alt="Logo Punto Y Coma FC" class="h-12 w-auto object-contain">
        <!--span-- class="ml-4 text-2xl font-bold">Corporación Deportiva Punto Y Coma</!--span-->
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
        <a (click)="hoinicio()" class="inline-flex items-center cursor-pointer px-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-800 hover:bg-yellow-300 transition-colors duration-200">
          Inicio
        </a>
        <a (click)="vaequipos()" class="inline-flex items-center cursor-pointer px-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-800   hover:bg-yellow-300 transition-colors duration-200">
          Equipos
        </a>
        <a (click)="gojugadores()" class="inline-flex items-center cursor-pointerpx-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-800  hover:bg-yellow-300 transition-colors duration-200">
          Jugadores
        </a>
        <a (click)="dicalendario()" class="inline-flex items-center cursor-pointer px-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-800   hover:bg-yellow-300 transition-colors duration-200">
          Calendario
        </a>
        <a (click)="donoticias()" class="inline-flex items-center cursor-pointer px-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-800  hover:bg-yellow-300 transition-colors duration-200">
          Noticias
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="min-h-screen bg-gray-50">
  <router-outlet></router-outlet>
</div>
