    <div class="py-20 bg-gray-50">
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
          Últimas <span class="text-blue-600">Noticias</span>
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-white rounded-xl shadow-lg overflow-hidden">
            <img src="../../../assets/noticias2.jpg" alt="Victoria épica" class="w-full h-cover object-cover">
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Gran Final sahagun Vs Gonito</h3>
              <p class="text-gray-600 mb-4">Domingo 06 de julio alas 4:00 pm unidad deportiva antanasio girardot cancha la marte1 .</p>
              <button class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-200">
                Leer Más
              </button>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow-lg overflow-hidden">
            <img src="../../../assets/noticias1.jpg" alt="Nuevos fichajes" class="w-full h-cover object-cover">
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Gran Final Campeonato </h3>
              <p class="text-gray-600 mb-4">Eventos deportivos de la ciudad de medellin.</p>
              <button class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-200">
                Leer Más
              </button>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow-lg overflow-hidden">
            <img src="../../../assets/noticias3.jpg" alt="Entrenamiento" class="w-full h-cover object-cover">
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Gran Final De Campeones</h3>
              <p class="text-gray-600 mb-4">Gran final de campeones sanfrancisco vs sahagun este 12 de julio alas 4:00 pm cancha floresta.</p>
              <button class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-200">
                Leer Más
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
