<div class="card">
  <img src="https://www.nacionfutbol.com.co/image/nacionfutbolcomco/brasil-vs-colombia-conoce-los-detalles-del-partido-por-eliminatorias-foto-escudoteca-pexels-conmebol-1742484600.webp" alt="Hotel 47 Medellin Center">
  <div class="card-content">
      <div class="card-title">Gran partido <span class="rating">★★★</span></div>
      <div class="info">Ubicación céntrica - Cerca del metro</div>
      <div class="info">Desayuno incluido - Cancelación gratis</div>
      <div class="info">Sin pago por adelantado</div>
      <div class="price">COP 133.280</div>
      <a href="#" class="btn">Ver disponibilidad</a>
  </div>
</div>
